@use "sass:list";
@use "sass:meta";
@use "sass:string";

//
@import "../Utils/Colors.module";

//
@import "../Theme/Dark.module";
@import "../Theme/Light.module";
@import "../Theme/Layers.module";

//
.sky {

    h1, h2, h3, h4, h5, h6 {
        text-align: center;
        display: block;
        margin: 0 auto;
    }

    //
    .wallpaper, &.wallpaper {
        background-color: #f0f0f0;
        background-clip: border-box;
        background-origin: border-box;
        background-image: var(--wallpaper);
        background-size: cover;
        background-position: center center;
    }

    //
    .flex, &.flex {
        //
        width: max(min(100dvw, 100%), 480px);
        max-width: max(min(100dvw, 100%), 480px);
        min-width: 480px;

        //
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        flex-shrink: 1;

        //
        justify-content: space-around;
        align-items: center;

        //
        gap: 4rem;
        padding-left: 16rem;
        padding-right: 16rem;

        //
        font-size: 1.0rem;
        overflow: visibile;

        //
        &.center {
            justify-content: center;
            align-items: center;
        }

        //
        h1 {
            padding: 1rem;
        }

        //
        img {
            max-height: max-content;
            max-width: max-content;
            width: 100%;
        }
    }

    //
    .grid, &.grid {
        background: transparent;

        --columns: 1;
        grid-template-columns: repeat(var(--columns), minmax(min-content, 1fr));
        padding: 1rem;
        gap: 1rem;
        grid-gap: 1rem;
        display: grid;
        width: min(min(100cqw, 9999px), 100%);
        min-width: min-content;
        max-width: min(min(100cqw, 9999px), 100%);
        box-sizing: border-box;
        text-align: center;
        height: max-content;
        overflow: visible;

        justify-items: center;
        justify-content: space-around;
        align-items: center;
        text-align: center;

        img {
            max-height: max-content;
            max-width: max-content;
            width: 100%;
        }
    }

    //
    .scrollable, &.scrollable {
        position: fixed;
        left: 0px;
        right: 0px;
        top: 0px;

        //
        min-width: 480px;
        max-width: max(100dvw, 480px);
        max-height: 100dvh;

        //
        > * {
            width: 100cqw;
            height: 100cqh;
        }
    }

    //
    .fluent, &.fluent {
        color: black;
        background-color: #fffffff0;
        -webkit-backdrop-filter: blur(1rem);
        -moz-backdrop-filter: blur(1rem);
        backdrop-filter: blur(1rem);
    }

    //
    .row, &.row {
        overflow: visible;
        gap: 4rem;
        display: flex;
        flex-shrink: 1;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    }

    //
    .column, &.column {
        display: flex;
        flex-shrink: 1;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        gap: 1rem;
    }

    //
    .bicoldep, &.bicoldep {
        --columns: 1;
    }

    //
    @media (min-width: 1280px) {
        .bicoldep, &.bicoldep {
            --columns: 2;
        }
    }

    //
    .bicol, &.bicol {
        --columns: 2;
        display: grid;
        grid-template-columns: repeat(--columns, 1fr);
        min-height: 100%;
    }

    //
    .pad, &.pad {
        overflow: visible;
        padding-left: 8rem;
        padding-right: 8rem;
    }
}

//
nav.sky {
    position: fixed;
    z-index: 9999;

    width: max(100dvw, 480px);
    min-width: 480px;
    
    left: 0px;
    right: 0px;
    top: 0px;
    height: 4rem;
    padding-left: 8rem;
    padding-right: 8rem;

    display: flex;
    flex-shrink: 1;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background-clip: border-box;
    background-origin: border-box;
    box-shadow: 0px 0px 1rem #000000a0;

    div {
        display: inline-block;
    }

    ul {
        flex-shrink: 1;
        flex-direction: row;
        display: flex;
        
        align-items: center;
        padding: 0px;
        margin: 0px;

        & li {
            padding: 1rem;
        }
    }

    .left {
        float: left;
    }

    .right {
        float: right;
    }
}

//
section.sky {

    &.fullscreen {
        min-width: 480px;
        width: max(100dvw, 480px);
        height: 100dvh;
        max-width: max(100dvw, 480px);
        min-height: 100dvh;
    }

    //
    header, footer {
        padding: 4rem;
        overflow: visibile;
        color: white;
    }

    //
    scroll-snap-align: center;

    //
    
    display: flex;
    flex-shrink: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    overflow: hidden;

    //
    width: max(min(100dvw, 100%), 480px);
    min-width: 480px;
    max-width: max(min(100dvw, 100%), 480px);

    //
    h1, p {
        padding: 1rem;
    }

    //
    div {
        overflow: visible;
    }

    //
    &#main {
        text-align: left;
    }

}
