@use "sass:list";
@use "sass:meta";
@use "sass:string";

//
@import "../Utils/Colors.module";

//
@import "../Theme/Dark.module";
@import "../Theme/Light.module";
@import "../Theme/Layers.module";

//
@import "../Theme/Applicant.module";

//
button, input {
    //
    isolation: isolate;
    overflow: hidden;
    position: relative;
    z-index: 1;

    //
    &::after {
        isolation: isolate;
        left: 0px; top: 0px;
        position: absolute;
        width: min(100cqw, 100%);
        height: min(100cqh, 100%);
        z-index: 2;
        pointer-events: none;
        content: "";
        display: block;
        border-radius: inherit;

        //
        mix-blend-mode: multiply;
        background-color: #{blend(var(--shadow), var(--power), var(--accent))};
    }
}

//
button {
    //
    box-shadow: 0.1rem 0.1rem 0.5rem #000000A0;
    border-radius: var(--radius);

    //
    transition-duration: 0.1s;
    transition-property: background-color, color, box-shadow;

    //
    --chroma: 100%;
    --bg-power: 95%;

    //
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;

    //
    &:hover {
        cursor: pointer;
        --bg-power: 100%;
    }
    
    //
    &:active {
        box-shadow: 0.1rem 0.1rem 0.4rem #000000A0;
        --bg-power: 98%;
    }
}
