@use "sass:list";
@use "sass:meta";
@use "sass:string";

//
@import "../Utils/Colors.module";

//
@import "./Dark.module";
@import "./Light.module";
@import "./Layers.module";

//
:root, :host {
    --radius: 4px;
}

//
body, html, .sky {
    box-shadow: 0px 0px 0px transparent;
}

//
body, html {
    font-size: 1.0rem;
}

//
body, html, button, input, .card, nav {
    border: solid 0px transparent;
    color: #{ blend(var(--shadow), var(--text-power), colored-inv(var(--chroma))) };
    background-color: #{ blend(var(--shadow), var(--bg-power), colored(var(--chroma))) };
}

//
a, span, h1, h2, h3, h4, h5, h6 {
    background: transparent;
    color: #{ blend(var(--shadow), var(--text-power), colored-text(var(--chroma))) };
}

//
a { --chroma: 95%; --text-power: 90%; }
a:hover { --text-power: 100%; }

