{
    "plugins": ["@babel", "prettier"],
    "extends": ["prettier"],
    "parser": "@babel/eslint-parser",
    "rules": {
        "indent": "warn",
        "no-tabs": "warn",
        "no-fallthrough": "off",
        "no-extra-parens": "warn",
        "no-extra-bind": "warn",
        "no-extra-label": "warn",
        "no-extra-boolean-cast": "warn",
        "no-extra-semi": "warn",
        "prettier/prettier": "warn",
        "no-restricted-modules": "off",
        "comma-dangle": "warn",
        "comma-spacing": "warn",
        "comma-style": "warn"
    }
}
