node_modules/
node_modules
node_modules/*
./node_modules/
./node_modules
./node_modules/*
test/
test
test/*
./test/
./test
./test/*
example/
example
example/*
./example/
./example
./example/*
deps/
deps
deps/*
./deps/
./deps
./deps/*
*.json
.babelrc
*/.babelrc
