{
    "presets": [
    ],
    "plugins": [
        ["@danielx/civet/babel-plugin"],
        [
            "module-extension-resolver",
            {
                "srcExtensions": [
                    ".js",
                    ".civet",
                    ".cjs",
                    ".mjs",
                    ".es",
                    ".es6",
                    ".ts",
                    ".node"
                ],
                "dstExtension": ".mjs",
                "extensionsToKeep": [".mjs", ".json"]
            }
        ]
    ],
    "sourceMaps": "inline",
    "generatorOpts": {
        "generator": "prettier",
        "compact": false,
        "concise": false,
        "minified": false,
        "retainLines": true,
        "retainFunctionParens": true,
        "tabWidth": 4,
        "useTabs": false
    }
}
